/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2016, 10:24:56 AM
    Author     : marcelocaj
*/

/*.ui-paginator a, .exporter .ui-datatable-header a {
    float: right;
    margin-right: 5px;
}*/
.ui-column-title {
    font-weight: normal;
}

.labelscol2 {
    width: 135px;
}

.labelscol {
    vertical-align: top;
    font-weight: bold;
}

.inputscol {
    padding-left: 15px;
}
#content {
}
.exportButtons {
    text-align: right; margin-top: -26px;
}

.ui-widget-overlay {
    opacity: 0.3 !important;
}

.asterisk:after {
    content: " * ";
    color: red;    
}

.columnaOculta {
    display: none; 
    width: 1px !important; 
    height: 0px !important;
}

.tamanoArchivo {
    font-size: 0.9em;
}

.buttonset > div > span {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    font-weight: normal;
}

.ui-selectonemenu-panel {
    max-width: 550px;
}

.lineaMultiple {
    white-space: pre-wrap;
}

.ui-menu
{    
    min-width: 120px !important;
    max-width: 140px;
    width: auto !important;
    padding: 0.2em !important;   
}

#formMenu .ui-panel{
    margin-top: 8px;
}

.ui-panel {
    padding: 0.2em !important;  
    min-width: 120px !important;  
    
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 6px;      
}

#formContenido .ui-panel{
    margin-top: -5px;             
}

#footer .ui-widget-content{
    clear:both;
    float:left;
    width:100%;
    background: #003580 none repeat scroll 0 0; 
    color: white;
    font-size: 0.9em;
}

#header{    
    border: 0px;
}

#lContenido{    
    padding: 0px;
}

.ui-layout-unit-content .ui-widget-content{
    padding: 0px;
}

#header-resizer{
    top: 82px !important;
}

#lMenu-resizer{
    top: 88px !important;
}

#lMenu, #lContenido{
    /*top: 106px;*/ 
    top: 88px !important;
    height: auto!important;
}









