.ui-state-highlight .ui-icon{
    background-image: url("/idrhica2/javax.faces.resource/images/ui-icons_333333_256x240.png.jsf?ln=primefaces-bootstrap");
}

.ui-column-title {
    font-weight: normal;
}

.labelscol2 {
    width: 135px;
}

.labelscol {
    vertical-align: top;
    font-weight: bold;
}

.inputscol {
    padding-left: 15px;
}


#content {
}

.exportButtons {
    text-align: right; margin-top: -26px;
}

.ui-widget-overlay {
    opacity: 0.3 !important;
}

.asterisk:after {
    content: " * ";
    color: red;    
}

.columnaOculta {
    display: none; 
    width: 1px !important; 
    height: 0px !important;
}

.tamanoArchivo {
    font-size: 0.9em;
}

.buttonset > div > span {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    font-weight: normal;
}

.ui-selectonemenu-panel {
    max-width: 550px;
}

.lineaMultiple {
    white-space: pre-wrap;
}

.ui-menu {
    min-width: 120px !important;
    max-width: 140px;
    width: auto !important;
    padding: 0.2em !important; 
}

#formMenu .ui-panel{
    margin-top: 8px;   
    width: 140px !important;
}

.ui-panel {
    min-width: 120px !important;     
    width: auto !important;
    padding: 0.2em !important;    
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 6px;    
}

#formMenu .ui-panel{
    width: 140px !important;
}

#formContenido .ui-panel{
    margin-top: -5px;             
}

#footer .ui-widget-content{
    clear:both;
    float:left;
    width:100%;
    background: #003580 none repeat scroll 0 0; 
    color: white;
    font-size: 0.9em;
}

#header{    
    border: 0px;
}

#lContenido{    
    padding: 0px;
}

.ui-layout-unit-content .ui-widget-content{
    padding: 0px;
}

#header-resizer{
    top: 82px !important;
}

#lMenu-resizer{
    top: 88px !important;
}

#lMenu, #lContenido{
    /*top: 106px;*/ 
    top: 88px !important;
    height: auto!important;
}

/*CSS para modulos de inventarios*/
.panelInventarios .input{
    width: 150px;
}

.panelInventarios .inputShort{
    width: 100px;
}

.panelInventarios .inputLarge{
    width: 200px;
}

.inputLargeObj{
    width: 400px;
    height: 35px;
    font-size: 24px !important;
}

/*CSS Panel Grid General*/
.outputMed{
    width: 180px;
}

#lContenido #ui-layout-unit{
    height: 100%;
}

#formContenido{
    height: 100%;
}

th{
    text-align: center !important;
}