/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2016, 10:24:56 AM
    Author     : marcelocaj
*/

/*.ui-paginator a, .exporter .ui-datatable-header a {
    float: right;
    margin-right: 5px;
}*/
#content {
}
.exportButtons {
    text-align: right; margin-top: -26px;
}
.ui-widget-overlay {
    opacity: 0.3 !important;
}

.asterisk:after {
    content: " * ";
    color: red;    
}