body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {

}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:5px 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	background:#fff;		/* right column background colour */
}
.leftmenu .colleft {
	right:87%;			/* right column width */
	/*background:#f4f4f4;*/	/* left column background colour */
}
.leftmenu .col1 {
	width:85%;			/* right column content width */
	left:100%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:11%;			/* left column content width (column width minus left and right padding) */
	left:3%;			/* (right column left and right padding) plus (left column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	padding:10px;
	margin:0;
}

.ui-column-title {
    font-weight: normal;
}