body {
    margin:0;
    padding:0;
    border:0;			
    width:100%;
    background:#fff;
    min-width:600px; 
    font-size: 0.8em;
}

/* Header styles */
#header {
    clear:both;
    float:left;
    width:100%;
    min-width: 960px;
}

#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
    margin:0;
}

.footer, .push {
    height: 35px; 
    clear: both;
}

#footer {
    background: #003580 none repeat scroll 0 0; 
}

#footer p {
    padding:5px;
    margin-top:-35px;
}

html, body{ 
    height: 100%; 
}

#footer { 
    clear: both; 
    position: relative; 
    z-index: 10; 
    height: 2.5em; 
    margin-top: -2.5em; 
}

/*Formato Panel Grid Inventarios*/
.label1PGInv{
    /*min-width: 110px !important;*/
    background-color: whitesmoke;  
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.input1PGInv{

}

.label2PGInv {
    /*min-width: 110px !important;*/
    background-color: whitesmoke;
    padding-left: 25px !important;
    padding-right: 25px !important;
}   

.input2PGInv{
    
}

