body {
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    min-width:600px;    	/* Minimum width of layout - remove line if not required */
    /* The min-width property does not work in old versions of Internet Explorer */
    font-size: 0.8em;
}

/* Header styles */
#header {
    clear:both;
    float:left;
    width:100%;
}
#header {

}
#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
    margin:0;
}

/* 'widths' sub menu */
/*#layoutdims {
        clear:both;
        background:#eee;
        border-top:4px solid #000;
        margin:0;
        padding:6px 15px !important;
        text-align:right;
}*/

#wrapper {
    min-height: 100%;
}
/* column container */
.colmask {    
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
    /*overflow:hidden;*/		/* This chops off any overhanging divs */
    height: auto;

    background: burlywood;
}

.col1,
.col2{
    float:left;
    position:relative;
    padding:0.5em 0 1em 0;
    /*overflow:hidden;*/
}


.leftmenu .col1 {
    width:80%;			/* right column content width */
    left:20%;			/* 100% plus left column left padding */
    background-color: aliceblue;
}
.leftmenu .col2 {
    width:20%;			/* left column content width (column width minus left and right padding) */
    left:-80%;			/* (right column left and right padding) plus (left column left padding) */
    overflow: hidden;
    max-width: 140px;
}

.footer, .push {
    height: 30px; /* .push must be the same height as .footer */
    clear: both;
}
/* Footer styles */

#footer {
    clear:both;
    float:left;
    width:100%;
    background: #003580 none repeat scroll 0 0; 
    color: white;
    font-size: 0.9em;
}
#footer p {
    padding:10px;
    margin-top:-30px;
}


html, body, #wrapper { height: 100%; }
#wrapper { height: auto; min-height: 100%; }
#footer { clear: both; position: relative; z-index: 10; height: 2.5em; margin-top: -2.5em; }
